body {
	background-color: gray;
}

.highlightGenreButton {

}

.user-review {
	border: 2px purple solid;
}

.morecontent span {
	display: none;
}

a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}